/* public/css/home.css */

/* Estilo para a navbar */
.navbar-container {
    background-color: #FFA500; /* Laranja claro */
    margin-bottom: 20px; /* Espaço abaixo da navbar */
}

/* Estilo para o menu lateral */
.menu-lateral {
    background-color: #f0f0f0; /* Cinza claro */
    padding: 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    height: 100%; /* Ocupa toda a altura disponível */
}

/* Estilo para o conteúdo principal */
.conteudo-principal {
    padding: 15px; /* Espaçamento interno */
}

/* Estilo para o card de licitações */
.card {
    margin-bottom: 20px; /* Espaço abaixo de cada card */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estilo para o botão de busca */
.btn-primary {
    background-color: #007bff; /* Cor do botão de busca */
    border-color: #007bff; /* Cor da borda do botão */
}

/* Estilo para o botão de detalhes */
.btn-primary {
    background-color: #0056b3; /* Cor do botão de detalhes */
    border-color: #0056b3; /* Cor da borda do botão */
}
