/* Estilo geral da página */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background-color: #FFA500; /* Fundo laranja claro */
    padding: 1rem;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
}

.navbar .navbar-brand img {
    height: 16px;
}

.navbar .navbar-nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar .navbar-nav .nav-item {
    margin-right: 1rem;
}

.navbar .navbar-nav .nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar .d-flex {
    display: flex;
    align-items: center;
}

.navbar .btn {
    margin-left: 0.5rem;
}

/* Menu lateral */
.menu-lateral {
    background-color: #f0f0f0; /* Fundo cinza claro */
    padding: 1rem;
    width: 200px;
    height: calc(100vh - 56px); /* Ajuste a altura para ocupar a tela inteira menos a altura da navbar */
    
    float: left;
}

/* Conteúdo */
.conteudo {
    margin-left: 200px; /* Espaço para o menu lateral */
    padding: 1rem;
}
